body{
    background: linear-gradient(rgb(168, 168, 198) ,rgb(234, 160, 162));
    text-align: center;
}
.line{
    background-color: black;
    height: 6px;
    width: 200px;
    margin:auto;
    

}
#mycarousel{
    background: linear-gradient( blue,darkblue);
}
img{
    height:300px;
    width:350px;
    margin-top:35px;
}